@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">Order Confirmation</h2>
        <p>Your Order Number is : <span>@Model</span></p><br/>
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Your Order has been Placed successfully !
        <br/>
    </div>
</div>