@model Category

<form method="post" class="col-md-6">
    <h3>Edit Category</h3>
    <hr class="mb-5" />
    <input asp-for="CategoryId" type="hidden" value="@Model.CategoryId"/>
    @*Note: above hidden field is not required if passed variable name is same as property name*@
    @*<div asp-validation-summary="All" class="text-danger"></div>*@ 
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DisplayOrder" class="form-label"></label>
        <input asp-for="DisplayOrder" class="form-control">
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-warning" style="width:120px">Update</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary px-2" style="width:120px">Back</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
@* Note: We need above syntax as this partial view is script related else we can directly partial view as
     <partial name="_ValidationScriptsPartial"/>
*@

